
  <div id="fullPage">
    <app-header></app-header>
    <script>
        System.import('app').catch(function (err) { console.error(err); });
    </script>
    <!-- <app-login></app-login> -->
    <router-outlet></router-outlet>

    <app-footer></app-footer>
  </div>
 


