<a class="back-button" routerLink="/" title="Go Back">Go Back</a>
<app-list-header></app-list-header>


<div class="gridview sp_ba sp_br3">
	<div class="gridview_head sp_clear sp_p10 sp_bb">
		<div class="sp_fl_left">
			<span class="gridview_title sp_bold">List</span>
		</div>
		<div class="sp_fl_right">
			<form action="" class="gridsearch sp_ba sp_br3 sp_inblock ng-pristine ng-valid">
				<input type="text" ng-model="query" class="gridsearch_input" placeholder="Search...">
			</form>
			<a href="/add" class="gridcreate sp_inblock sp_ml15 sp_br3">Create</a>
		</div>
	</div>
	<div class="gridview_summary sp_p15 sp_bb">
		<p class="gridsummary">
			List of pages created, sorted by latest ascending.
		</p>
	</div>
	<div class="gridview_table">
		<table class="gridtable sortable"  id="myTable" width="100%" cellpadding="0" cellspacing="0" border="0">
			<thead>
				<tr>
					<th class="sp_al_center" scope="col"  onclick="sorting(tbody01, 0)" >
						  #
						<a class= "sort-asc" >asc</a> 
						<a class= "sort-desc" >des</a>
					</th>
					<th scope="col"  onclick="sorting(tbody01, 1)" class="sp_al_left">
						Source
						<a class= "sort-asc">asc</a> 
						<a class= "sort-desc">des</a>
					</th>
					<th scope="col"  onclick="sorting(tbody01, 2)" class="sp_al_left">
						Store
						<a class= "sort-asc">asc</a> 
						<a class= "sort-desc">des</a>
					</th>
					<th scope="col"  onclick="sorting(tbody01, 3)" class="sp_al_left">
						Version
						<a class= "sort-asc">asc</a> 
						<a class= "sort-desc">des</a>
					</th>
					<th scope="col"  onclick="sorting(tbody01, 4)" class="sp_al_left">
						Status
						<a class= "sort-asc">asc</a> 
						<a class= "sort-desc">des</a>
					</th>
					<th class="sp_al_center">Options</th>
				</tr>
			</thead>
			<tbody id="tbody01">
				<tr *ngFor="let record of records; let i = index">
					<td class="sp_al_center">{{i+1}}</td>
					<td class="sp_al_left"><span>{{record.source}}</span></td>
					<!-- <td class="sp_al_left"><span>{{record.store_id}}</span></td> -->
					<td class="sp_al_left"><span>{{record.store_id | storenames}}</span></td>
					<td class="sp_al_left"><span>{{record.version}}</span></td>
					<td class="sp_al_left"><span>{{record.status}}</span></td>
					<td class="sp_al_center">
						<a href="edit/{{record.unique}}" class="edit">Edit</a>
						<a href="" ng-click="removeUser(record);" class="delete">Delete</a>
					</td>
				</tr>
			</tbody> 
		</table>
	</div>
</div>
