$color_trans: transparent;

.back-button {
	position: absolute;
	top: 40px;
	color: $color_trans;
	&::after {
		content: "";
		border-right: 10px solid #222;
		border-top: 10px solid #fff;
		border-bottom: 10px solid #fff;
		width: 0;
		height: 0;
		position: absolute;
		left: 0;
	}
}


/* gridview */
.gridview {
	background-color: #fff;
}
.gridview_title {
    font-size: 17px;
    color: #999;
    line-height: initial;
}
.gridview .gridsearch {
    position: relative;
    padding: 0 40px 0 0;
    width: 250px;
}
.gridview .gridsearch_input {
    margin: 0;
    border: 0;
    font-size: 12px;
    height: 25px;
    background-color: transparent;
}
.gridview .gridcreate {
	font-size: 12px;
    background-color: #3d8bcd;
    color: #fff;
    padding: 0 15px;
    line-height: 27px;
}
.gridview .gridsummary {
    font-size: 13px;
    margin: 0;
    color: #555;
}
.gridview_table {
    max-height: 76vh;
    overflow-y: auto;
    height: auto;
}
.gridview .gridtable tbody td, 
.gridview .gridtable thead th {
    padding: 15px 5px;
    font-size: 14px;
    border-color: #ddd;
    border-style: solid;
    border-width: 0 0 1px;
}
.gridview .gridtable thead th {
    cursor: pointer;
    position: relative;
}
.gridview .gridtable tbody td a.edit {
    color: green;
    padding-right: 5px;
}
.gridview .gridtable tbody td a.delete {
    color: red;
}

/* table sorting ascending/descending order css */
#myTable th.asc:after{
    content:'Asc';
    display:inline-block;
    padding:0 .5em;
    color:green;
}
#myTable th.desc:after{
    content:'Desc';
    display:inline-block;
    padding:0 .5em;
    color:blue;
}
.gridview .gridtable thead th a {
    color: transparent;
}
.gridview .gridtable thead th a{
    width: 0;
    height: 0;
}
.gridview .gridtable thead th a:after {
    content: '';
    border-top: 4px solid #000;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    left: 40%;
}
.gridview .gridtable thead th a.sort-asc:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.gridview .gridtable thead th a.sort-desc:after {
    top: 25px;
}

/* module */
.module {}
.module_add {}
.module_list {}
.module_item {
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #dddddd;
}
.module_head {
    padding: 7px 178px 7px 7px;
    position: relative;
    background-color: #dddddd;
    color: #333;
}
.module_body {
    background-color: #ffffff;
}
.module_count {
    display: block;
    height: 25px;
    line-height: 25px;
}
.module_columns {
    display: block;
    height: 25px;
    line-height: 25px;
}
.module_ratio {
    border-radius: 4px;
    height: 25px;
}
.module_actions {
    position: absolute;
    display: block;
    text-align: right;
    top: 0;
    right: 0;
    padding: 7px;
}
.module_actions .malinks {
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    width: 25px;
    font-size: 10px;
    color: #ffffff;
    text-align: center;
    line-height: 25px;
    border-radius: 4px;
    background-color: #dddddd;
}
.module_actions .malinks.sort {
    background-color: #555555;
}
.module_actions .malinks.add {
    width: 75px;
    background-color: #27ae60;
}
.module_actions .malinks.delete {
    background-color: #d43b41;
}
.module_actions .malinks .link {
    display: block;
    height: 12px;
    line-height: 12px;
}


/* colpopup */
.colpopup {
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
.colpopup_align {
    height: 100%;
    width: 0;
    vertical-align: middle;
    position: relative;
    display: inline-block;
}
.colpopup_close {
    display: inline-block;
    width: 25px;
    height: 25px;
    font-size: 8px;
    position: absolute;
    border-radius: 50%;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    right: 7px;
    top: 7px;
    background-color: #d43b41;
}
.colpopup_content {
    text-align: initial;
    width: 80%;
    padding: 15px;
    border-radius: 4px;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    z-index: 2;
    background-color: #fff;
}
.colpopup_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.7);
}

/* imagepreview */
.imagepreview {
    background-color: #ddd;
    min-height: 200px;
    text-align: center;
    line-height: 200px;
    color: #bbbbbb;
    font-size: 40px;
}


