header {
    text-align: center;
    border-bottom: 1px solid #000;
    padding: 10px 0;
    .logo {
        position: relative;
        display: inline-block;
        height: 76px;
        background: url(../../../assets/images/sivvi_logo.svg) no-repeat center;
        background-size: 55%;
        width: 42%;
    }
    }