header {
    text-align: center;
    .logo {
        position: relative;
        display: inline-block;
        height: 76px;
        background: url(../../assets/images/sivvi_logo.svg) no-repeat center;
        background-size: 55%;
        width: 54%;
    }
    }