<div>
        <div class="alert alert-{{m.key}} alert-dismissible">
        <span class="close">×</span>
        {{m.text}}
        </div>
        </div>
        <div>
        <div class="alert alert-{{m.key}} alert-dismissible">Example usage.</div>
        </div>