.alert-danger {
    color: rgb(169, 68, 66);
    background-color: rgb(242, 222, 222);
    border-color: rgb(235, 204, 209);
    
}

.alert {
    margin-bottom: 20px;
    padding: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 4px;
    position: absolute;
    left: 41%;
    top: 50%;
    z-index: 9;
    box-shadow: 10px 10px 60px 150vh rgba(68, 68, 68, 0.5);
    padding: 20px 50px;
}