:host {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -350px;
    margin-top: -130px;
    width: 100%;
    max-width: 700px;
    height: 130px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
}
.login_box {
    padding: 30px 30px 30px 130px;
}
.loginlogo {
    position: absolute;
    top: 50%;
    height: 80px;
    width: 80px;
    left: 30px;
    line-height: 80px;
    margin-top: -40px;
    font-size: 20px;
    text-align: center;
    background: #222;
    color: #ffffff;
}
.loginbutton, 
.logininput {
    height: 30px;
    font-size: 12px;
}
.loginbutton {
    margin: 0;
    line-height: 30px;
}

/* logodrop */
.logodrop {
	position: relative;
}
.logodrop_logo {}
.logodrop_logo span {
	cursor: pointer;
	position: relative;
	display: block;
	line-height: 50px;
	text-align: left;
	padding: 0 0 0 20px;
}
.logodrop_logo span:after{
	top: 50%;
    right: 15px;
    margin-top: -3px;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.logodrop_list {
	display: none;
    width: 180px;
    position: absolute;
    border: 1px solid #ddd;
    color: #000;
}
.active .logodrop_list,
.logodrop:hover .logodrop_list {
	display: block;
}
.logodrop_item {}
.logodrop_link {
	border-bottom: 1px solid #dddddd;
	font-size: 13px;
    display: block;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    background-color: #eaeaea;
}
.logodrop_link:hover {
	background-color: #dddddd;
}