:host {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    input {
        position: relative;

        lavel{
            position: absolute;
            top: 0;
            transform: translateY(-50%);
            left: 10px;
            background: #fff;
            padding: 5px 2px;
        }
    }
}