<div class="login">
    <div class="login_box">
        <div class="loginlogo">s-press</div>
         <div class="loginform">

         </div>
    </div>
</div>




<form (submit)="loginUser($event)">
    <h5 class="loginheading">Login</h5>
    <div class="sp_row stretch">
        <div class="input sp_small_10 sp_columns">
             <input class="sp_input logininput sp_br3" type="text">
             <span class="sp_formerror">Username</span>
          </div>
          <div class="input sp_small_10 sp_columns">
              <label>Password</label>
              <input class="sp_input logininput sp_br3" type="password">
            </div>
            <div class="input sp_small_4 sp_columns">
              <input class="sp_fl_right loginbutton sp_button sp_btnpink sp_br3" type="submit" value="Login">
            </div>
    </div>
</form>
