<div class="login">
    <div class="login_box">
        <div class="loginlogo">s-press</div>
         <div class="loginform">
            <form (submit)="loginUser($event)">
                <h5 class="loginheading">Login</h5>
                <div class="sp_row stretch">
                    <div class="input sp_small_10 sp_columns">
                         <input class="sp_input logininput sp_br3" placeholder="email"  type="text">
                      </div>
                      <div class="input sp_small_10 sp_columns">
                          <input class="sp_input logininput sp_br3" placeholder="password" type="password">
                        </div>
                        <div class="input sp_small_4 sp_columns">
                          <input class="sp_fl_right loginbutton sp_button sp_btnpink sp_br3" type="submit" value="LOGIN">
                        </div>
                </div>
            </form>
         </div>
    </div>
</div>





