$color_darkfont: #222222;
$color_black: #000;
$background_color_white: #fff;
$background_color_darkfont: #222;

/* flash */
/* logodrop */
.flash {
	position: relative;
	width: 100%;
	left: 0;
	bottom: 0;
}
.flash_close {
	position: absolute;
	width: 15px;
	line-height: inherit;
	height: 15px;
	top: 10px;
	display: inline-block;
	right: 10px;
}
.headbar {
	height: 50px;
	color: $color_darkfont;
	background-color: $background_color_white;
	border: 1px solid #222222;
}
.pageoptions {
	background-color: $background_color_darkfont;
}
.logodrop {
	position: relative;
	&:hover {
		.logodrop_list {
			display: block;
		}
	}
}
.logodrop_logo {
	span {
		cursor: pointer;
		position: relative;
		display: block;
		line-height: 50px;
		text-align: left;
		padding: 0 0 0 20px;
		min-width: 100px;
		&:after {
			top: 50%;
			right: 15px;
			margin-top: -3px;
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-top: 5px solid #222;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
		}
	}
}
.logodrop_list {
	display: none;
	width: 180px;
	position: absolute;
	border: 1px solid #222;
	color: $color_black;
	margin-top: -2px;
}
.active {
	.logodrop_list {
		display: block;
	}
}
.logodrop_link {
	font-size: 13px;
	display: block;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	background-color: $background_color_white;
	margin-top: -1px;
	&:hover {
		font-size: 14px;
		text-decoration: none;
		color: $color_black;
		font-weight: bold;
	}
}

