@charset "UTF-8";

@font-face {
	font-family: 'hindbold'; 
	src: url("/assets/fonts/hind-bold.woff2") format('woff2'), 
		 url("/assets/fonts/hind-bold.woff") format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}
@font-face {
	font-family: 'hindlight'; 
	src: url("/assets/fonts/hind-light.woff2") format('woff2'), 
		 url("/assets/fonts/hind-light.woff") format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}
@font-face {
	font-family: 'hindregular'; 
	src: url("/assets/fonts/hind-regular.woff2") format('woff2'), 
		 url("/assets/fonts/hind-regular.woff") format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}
 
/*----------  Initial resets  ----------*/
html {font-size: 100%; font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {display: block; }
audio, canvas, progress, video {display: inline-block; vertical-align: baseline; }
audio:not([controls]) {display: none; height: 0; } [hidden], template {display: none; }
a {background-color: transparent; }
a:active, a:hover {outline: 0; }
abbr[title] {border-bottom: 1px dotted; }
b, strong {font-weight: bold; }
dfn {font-style: italic; }
h1 {font-size: 2em; margin: 0.67em 0; }
mark {background: #ff0; color: #000; }
small {font-size: 80%; }
sub, sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup {top: -0.5em; }
sub {bottom: -0.25em; }
img {border: 0; }
svg:not(:root) {overflow: hidden; }
figure {margin: 1em 40px; }
hr {box-sizing: content-box; height: 0; }
pre {overflow: auto; }
code, kbd, pre, samp {font-family: monospace, monospace; font-size: 1em; }
button, input, optgroup, select, textarea {color: inherit; font: inherit; margin: 0; }
button {overflow: visible; }
button, select {text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] {-webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] {cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner {border: 0; padding: 0; }
input {line-height: normal; }
input[type="checkbox"], input[type="radio"] {box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {height: auto; }
input[type="search"] {-webkit-appearance: textfield; box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance: none; }
fieldset {border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend {border: 0; padding: 0; }
textarea {overflow: auto; }
optgroup {font-weight: bold; }
table {border-collapse: collapse; border-spacing: 0; }
td, th {padding: 0; }

/*----------  Base styles  ----------*/
*, *:before, *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; } 
body {margin: 0; padding: 0; margin: 0; font-family: 'hindregular', sans-serif; font-weight: normal; line-height: 1; color: #0a0a0a; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
img {max-width: 100%; height: auto; -ms-interpolation-mode: bicubic; display: inline-block; vertical-align: middle; } 

select {width: 100%; border-radius: 0; height: 2.4375rem; padding: 0.5rem; border: 1px solid #cacaca; margin: 0 0 1rem; font-size: 1rem; font-family: inherit; line-height: normal; color: #0a0a0a; background-color: #fefefe; border-radius: 0; -webkit-appearance: none; -moz-appearance: none; background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgb%2851, 51, 51%29"></polygon></svg>'); background-size: 9px 6px; background-position: right 0.5rem center; background-repeat: no-repeat; } 
button {-webkit-appearance: none; -moz-appearance: none; background: transparent; padding: 0; border: 0; border-radius: 0; line-height: 1; }
label {display: block; margin: 0; font-size: 0.775rem; font-weight: normal; line-height: 1.8; color: #0a0a0a; } 
[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {display: block; box-sizing: border-box; width: 100%; height: 2.4375rem; padding: 0.5rem; border: 1px solid #cacaca; margin: 0 0 1rem; font-family: inherit; font-size: 1rem; color: #0a0a0a; background-color: #fefefe; -webkit-appearance: none; -moz-appearance: none; }
[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus {outline: none; } 
textarea {max-width: 100%; height: auto; min-height: 50px; border-radius: 0; } 
textarea[rows] {height: auto; } 
input:disabled, input[readonly], textarea:disabled, textarea[readonly] {background-color: #e6e6e6; cursor: default; } 
[type='submit'], [type='button'] {border-radius: 0; -webkit-appearance: none; -moz-appearance: none; } 
input[type='search'] {box-sizing: border-box; } 
[type='file'], [type='checkbox'], [type='radio'] {margin: 0 0 1rem; } 
[type='checkbox'] + label, [type='radio'] + label {display: inline-block; margin-left: 0.5rem; margin-right: 0.5rem; margin-bottom: 0; vertical-align: baseline; } 
label > [type='checkbox'],label > [type='label'] { margin-right: 0.5rem; }  
[type='file'] {width: 100%; }
[type='file'], [type='checkbox'], [type='radio'] {margin: 0 0 1rem; }
[type='checkbox'] + label, [type='radio'] + label {display: inline-block; margin-left: 0.5rem; margin-right: 0.5rem; margin-bottom: 0; vertical-align: baseline; } 
.hide {display: none !important; }
.invisible {visibility: hidden; } 
.float-left {float: left !important; }
.float-right {float: right !important; } 
.float-center {display: block; margin-left: auto; margin-right: auto; } 
.clearfix::before, .clearfix::after {content: ' '; display: table; }
.clearfix::after {clear: both; }


/*----------  trpography  ----------*/
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {margin: 0; padding: 0; } 
p {font-size: inherit; line-height: 1.6; margin-bottom: 1rem; text-rendering: optimizeLegibility; } 
em, i {font-style: italic; line-height: inherit; } strong, b {font-weight: bold; line-height: inherit; } 
small {font-size: 80%; line-height: inherit; } 
h1, h2, h3, h4, h5, h6 {font-family: 'hindregular', Helvetica, Arial, sans-serif; font-weight: normal; font-style: normal; color: inherit; text-rendering: optimizeLegibility; margin-top: 0; margin-bottom: 0.5rem; line-height: 1.4; } 
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {color: #cacaca; line-height: 0; } 
h1 {font-size: 1.5rem; } 
h2 {font-size: 1.25rem; } 
h3 {font-size: 1.1875rem; } 
h4 {font-size: 1.125rem; } 
h5 {font-size: 1.0625rem; } 
h6 {font-size: 1rem; } 
@media screen and (min-width: 40em) {
	h1 {font-size: 3rem; } 
	h2 {font-size: 2.5rem; } 
	h3 {font-size: 1.9375rem; } 
	h4 {font-size: 1.5625rem; } 
	h5 {font-size: 1.25rem; } 
	h6 {font-size: 1rem; } 
} 
a { color: inherit; text-decoration: none; line-height: inherit; cursor: pointer; } 
a img {border: 0; } 
hr {max-width: 75rem; height: 0; border-right: 0; border-top: 0; border-bottom: 1px solid #cacaca; border-left: 0; margin: 1.25rem auto; clear: both; } 
ul, ol, dl {line-height: 1.6; margin-bottom: 1rem; list-style-position: outside; } 
li {font-size: inherit; } 
ul { list-style: none; margin: 0; } 
ol {margin-left: 1.25rem; } 
dl {margin-bottom: 1rem; } 
dl dt {margin-bottom: 0.3rem; font-weight: bold; } 
blockquote {margin: 0 0 1rem; padding: 0.5625rem 1.25rem 0 1.1875rem; border-left: 1px solid #cacaca; } 
blockquote, blockquote p {line-height: 1.6; color: #8a8a8a; } 
cite {display: block; font-size: 0.8125rem; color: #8a8a8a; } 
cite:before {content: '\2014 \0020'; } 
abbr {color: #0a0a0a; cursor: help; border-bottom: 1px dotted #0a0a0a; } 
code {font-family: Consolas, "Liberation Mono", Courier, monospace; font-weight: normal; color: #0a0a0a; background-color: #e6e6e6; border: 1px solid #cacaca; padding: 0.125rem 0.3125rem 0.0625rem; } 
kbd {padding: 0.125rem 0.25rem 0; margin: 0; background-color: #e6e6e6; color: #0a0a0a; font-family: Consolas, "Liberation Mono", Courier, monospace; } 
.subheader {margin-top: 0.2rem; margin-bottom: 0.5rem; font-weight: normal; line-height: 1.4; color: #8a8a8a; } 
.lead {font-size: 125%; line-height: 1.6; } 
.stat {font-size: 2.5rem; line-height: 1; } 
p + .stat {margin-top: -1rem; } 
.bullet {margin-left: 0; list-style-type: disc; } 
.text-left {text-align: left; } 
.text-right {text-align: right; } 
.text-center {text-align: center; } 
.text-justify {text-align: justify; } 
.show-for-print {display: none !important; } 
@media print {
	* {background: transparent !important; color: black !important; box-shadow: none !important; text-shadow: none !important; } 
	.show-for-print {display: block !important; } 
	.hide-for-print {display: none !important; } 
	table.show-for-print {display: table !important; } 
	thead.show-for-print {display: table-header-group !important; } 
	tbody.show-for-print {display: table-row-group !important; } 
	tr.show-for-print {display: table-row !important; } 
	td.show-for-print {display: table-cell !important; } 
	th.show-for-print {display: table-cell !important; } 
	a, a:visited {text-decoration: underline; } 
	a[href]:after {content: " (" attr(href) ")"; } 
	.ir a:after, a[href^='javascript:']:after, a[href^='#']:after {content: ''; } 
	abbr[title]:after {content: " (" attr(title) ")"; } 
	pre, blockquote {border: 1px solid #999; page-break-inside: avoid; } 
	thead {display: table-header-group; } 
	tr, img {page-break-inside: avoid; } 
	img {max-width: 100% !important; } 
	@page {margin: 0.5cm; } 
	p, h2, h3 {orphans: 3; widows: 3; } 
	h2, h3 {page-break-after: avoid; } 
}

/*----------  table  ----------*/
/*table {width: 100%; margin-bottom: 1rem; border-radius: 3px; }
table thead, table tbody, table tfoot {border: 1px solid #f1f1f1; background-color: #fefefe; }
table caption {font-weight: bold; padding: 0.5rem 0.625rem 0.625rem; }
table thead, table tfoot {background: #f8f8f8; color: #222222; }
table thead tr, table tfoot tr {background: transparent; }
table thead th, table thead td, table tfoot th, table tfoot td {padding: 0.5rem 0.625rem 0.625rem; font-weight: bold; text-align: left; }
table tbody tr:nth-child(even) {background-color: #f1f1f1; }
table tbody th, table tbody td {padding: 0.5rem 0.625rem 0.625rem; }
/*@media screen and (max-width: 63.9375em) {
	table.stack thead {display: none; }
	table.stack tfoot {display: none; }
	table.stack tr, table.stack th, table.stack td {display: block; }
	table.stack td {border-top: 0; }
}*/
/*
table.scroll {display: block; width: 100%; overflow-x: auto; }
table.hover tr:hover {background-color: #f9f9f9; }
table.hover tr:nth-of-type(even):hover {background-color: #ececec; }*/