/**
 * This file includes following classes
 * [box-sizing fix]
 * [clear fix]
 * [floats]
 * [text-direction]
 * [aligns]
 * [display]
 * [horizontal rule]
 * [font]
 * [thumbnail image]
 * [form]
 * [radio_masked]
 * [check_masked]
 * [alert]
 * [popup]
 * [overlay]
 * [table]
 * [buttons]
 * [pallets] 
 * [borders]
 * [margins]
 * [paddings]
 * [border-radius]
 * [animations]
 */


/* box-sizing fix */
*, *:before, *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; } 

/* clear fix */
.sp_clear::before, .sp_clear::after {content: ' '; display: table; } 
.sp_clear::after {clear: both; } 

/* floats */
.sp_fl_left {float: left !important; } 
.ln-ar .sp_fl_left {float: right !important; } 
.sp_fl_right {float: right !important; } 
.ln-ar .sp_fl_right {float: left !important; } 
.sp_fl_center {display: block; margin-left: auto; margin-right: auto; } 
.sp_fl_none {float: none !important; } 

/* text-direction */
.sp_dir_left{ direction: ltr; }
.sp_dir_right{ direction: rtl; }



/* aligns */
.sp_al_left {text-align: left; }
.ln-ar .sp_al_left {text-align: right; }  
.sp_al_right {text-align: right; } 
.ln-ar .sp_al_right {text-align: left; } 
.sp_al_center {text-align: center; } 
.sp_al_justify {text-align: justify; } 
.sp_al_vertical {display: inline-block !important; vertical-align: middle !important; }

/* display */
.sp_block {display: block !important; } 
.sp_inblock {display: inline-block !important; } 
.sp_hide {display: none; } 
.sp_show {display: block; } 

/* horizontal rule */
.sp_hr {width: 100%; display: block; height: 1px; background-color: #dddddd; } 
.sp_hr.or {position: relative; } 
.sp_hr.or:after {position: absolute; content: 'OR'; color: #aaaaaa; padding: 3px; background: #ffffff; top: -9px; left: 50%; font-size: 12px; margin-left: -11px; } 

/* headings */
.sp_h1 {}
.sp_h2 {}
.sp_h3 {}
.sp_h4 {}
.sp_h5 {}
.sp_h6 {}

/* loading */
.sp_loader {
    position: relative;
    display: block;
    margin: 0 auto;
}
.sp_loader:before {
    content: '';
    border-radius: 50%;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    text-indent: -9999em;
    border-top: 5px solid rgba(0,0,0,0.2);
    border-right: 5px solid rgba(4, 4, 4, 0.2);
    border-bottom: 5px solid rgba(0,0,0,0.4);
    border-left: 5px solid #000000;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



/* font */
.sp_bold {font-family: 'hindbold'; font-weight: normal; } 
.sp_regular {font-family: 'hindregular'; font-weight: normal; } 
.sp_light {font-family: 'hindlight'; font-weight: normal; } 
.sp_font_10 {font-size: 10px;}
.sp_font_11 {font-size: 11px;}
.sp_font_12 {font-size: 12px;}
.sp_font_13 {font-size: 13px;}
.sp_font_14 {font-size: 14px;}
.sp_font_15 {font-size: 15px;}
.sp_font_17 {font-size: 17px;}
.sp_font_20 {font-size: 20px;}
.sp_font_25 {font-size: 25px;}
.sp_font_30 {font-size: 30px;}

/* thumbnail image */
.sp_imagethmb {text-align: center; width: 100%; font-size: 0;} 
.sp_imagethmb_inner { vertical-align: middle; height: 100%; display: inline-block; } 
.sp_imagethmb img {max-width: 100%; max-height: 100%; display: inline-block; vertical-align: middle;} 

/* absimage */
.sp_absimage {position: relative; overflow: hidden;}
.sp_absimage img {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* form */
.sp_pre, .sp_post { border-style: solid; border-color: #dddddd; height: 50px; line-height: 50px; text-align: center; background-color: #f5f5f5; }
.sp_pre { border-width: 1px 0px 1px 1px; }
.sp_post { border-width: 1px 1px 1px 0px; }
.sp_input, .sp_select, .sp_textarea, .sp_textarea {padding: 10px; height: 50px; font-size: 14px; margin: 0 0 15px 0; border: 1px solid #DDDDDD; }
.sp_input:focus, .sp_select:focus, .sp_textarea:focus, .sp_textarea:focus{ border-color: #3da2ff; }
.sp_radio, .sp_checkbox {display: inline-block; vertical-align: middle; }
.sp_select { outline: none; padding: 0 30px 0 10px; background-repeat: no-repeat; background-size: 10px; background-position: right 10px center; background-image: url('data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDI1NSAyNTUiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI1NSAyNTU7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8ZyBpZD0iYXJyb3ctZHJvcC1kb3duIj4KCQk8cG9seWdvbiBwb2ludHM9IjAsNjMuNzUgMTI3LjUsMTkxLjI1IDI1NSw2My43NSAgICIgZmlsbD0iI2I2YjZiNiIvPgoJPC9nPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=');  }
.sp_select option { background-color: #fdf4f2; }
.sp_select_grayed { color: #a9a9a9; }
.ln-ar .sp_select { padding: 0 10px 0 30px; background-position: left 10px center; }
.sp_textarea {height: auto; resize: none; } 
.sp_input.error, .sp_select.error, .sp_textarea.error {border-color: #d71a21; margin: 0; } 
.sp_label {display: block; line-height: 20px; font-size: 14px; } 
.sp_label.inline {white-space: nowrap; display: inline-block; line-height: 40px; } 
.sp_formerror {margin-bottom: 15px; font-size: 12px; color: #d71a21; border-color: #ebccd1; display: block;}

/* radio_masked */
.radio_masked {position: relative; height: 20px; width: 20px;}
.radio_masked input[type="radio"] { margin: 0; width: 100%; height: 100%; }
.radio_masked i {position: absolute; width: 100%; height: 100%; background-color: #FFF; z-index: 5; top: 0; left: 0; border-radius: 50%; border: 2px solid #f55100; pointer-events: none; cursor: pointer; }
.radio_masked i:after {content: ''; width: 100%; height: 100%; border: 3px solid #fff; background-color: #f55100; top: 0; left: 0; border-radius: 50%; z-index: 6; position: absolute; display: none; pointer-events: none; cursor: pointer; -webkit-box-sizing          : border-box; -moz-box-sizing             : border-box; box-sizing                  : border-box; }
.radio_masked input[type="radio"]:checked ~ i:after {display: block; }

/* check_masked */
.check_masked {position: relative; height: 23px; width: 23px; display: inline-block; }
.check_masked input[type="checkbox"] {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}
.check_masked i {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    z-index: 5;
    top: 0;
    left: 0;
    border-radius: 4px;
    border: 2px solid #f55100;
    pointer-events: none;
    cursor: pointer;
}
.check_masked i:after {content: ''; width: 100%; height: 100%; border: 3px solid #fff; background-color: #f55100; top: 0; left: 0; border-radius: 5px; z-index: 6; position: absolute; display: none; pointer-events: none; cursor: pointer; -webkit-box-sizing          : border-box; -moz-box-sizing             : border-box; box-sizing                  : border-box; }
.check_masked input[type="checkbox"]:checked ~ i:after {display: block; }

/* alert */
.sp_alert {font-size: 14px; padding: 10px; }
.sp_alert_danger {color: #ffffff; background-color: #d43b41; }
.sp_alert_info {color: #ffffff; background-color: #00BCD4; }
.sp_alert_warning {color: #ffffff; background-color: #e2b11d; }
.sp_alert_success {color: #ffffff; background-color: #27ae60; }

/* popup */
.sp_popup {
    top: 0;
    left: 0; 
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    font-size: 0;
    text-align: center;  
    background-color: rgba(0,0,0,0.9);
}
.sp_popup_align{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.sp_popup_content {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    font-size: initial;
}
.sp_popupclose {
    position: absolute;
    display: inline-block;
    width: 45px;
    height: 45px;
    top: 15px;
    right: 15px;
    color: #ffffff;
    font-size: 30px;
}

/* table */
.sp_table {} 
.sp_table thead th, .sp_table thead td {border-bottom: 1px solid #dddddd; font-size: 14px; font-family: 'hindbold'; font-weight: normal; color: #666666; } 
.sp_table tbody td { border-bottom: 1px solid #EFEFEF; } 

/* buttons */
.sp_button { font-weight: normal; text-align: center; border: 0; line-height: 40px; height: 40px; font-size: 13px; color: #ffffff; display: block; width: 100%; margin: 0 0 15px 0; } 

.sp_btnred {background-color: #D71A21 !important; color: #ffffff; -webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; -ms-transition: all 300ms linear; -o-transition: all 300ms linear; transition: all 300ms linear; } 
.sp_btnred:hover {background-color: #AD1319 !important; color: #ffffff; } 

.sp_btngreen {background-color: #2ecc71 !important; color: #ffffff; -webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; -ms-transition: all 300ms linear; -o-transition: all 300ms linear; transition: all 300ms linear; } 
.sp_btngreen:hover {background-color: #27ae60 !important; color: #ffffff; } 

.sp_btnredneg { color: #D71A21; border: 1px solid #D71A21; -webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; -ms-transition: all 300ms linear; -o-transition: all 300ms linear; transition: all 300ms linear; } 
.sp_btnredneg:hover { background-color: #D71A21 !important; color: #ffffff; } 

.sp_btnorange {background-color: #f55100 !important; color: #ffffff; -webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; -ms-transition: all 300ms linear; -o-transition: all 300ms linear; transition: all 300ms linear; } 
.sp_btnorange:hover {background-color: #d35400 !important; } 

.sp_btnorangeneg { color: #f55100; border: 1px solid #f55100; -webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; -ms-transition: all 300ms linear; -o-transition: all 300ms linear; transition: all 300ms linear; } 
.sp_btnorangeneg:hover {background-color: #f55100 !important; color: #ffffff; } 

.sp_btngrey {background-color: #95a5a6 !important; color: #ffffff; -webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; -ms-transition: all 300ms linear; -o-transition: all 300ms linear; transition: all 300ms linear; } 
.sp_btngrey:hover {background-color: #7f8c8d !important; color: #ffffff; } 

.sp_btnnightblue {background-color: #34495e !important; color: #ffffff; -webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; -ms-transition: all 300ms linear; -o-transition: all 300ms linear; transition: all 300ms linear; } 
.sp_btnnightblue:hover {background-color: #2c3e50 !important; color: #ffffff; } 

.sp_btnyellow {background-color: #f1c40f !important; color: #ffffff; -webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; -ms-transition: all 300ms linear; -o-transition: all 300ms linear; transition: all 300ms linear; } 
.sp_btnyellow:hover {background-color: #f39c12 !important; color: #ffffff; } 

.sp_btnasphalt {background-color: #34495e !important; color: #ffffff; -webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; -ms-transition: all 300ms linear; -o-transition: all 300ms linear; transition: all 300ms linear; } 
.sp_btnasphalt:hover {background-color: #2c3e50 !important; color: #ffffff; } 

.sp_btnpink {background-color: #f37c5c !important; color: #ffffff; -webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; -ms-transition: all 300ms linear; -o-transition: all 300ms linear; transition: all 300ms linear; } 
.sp_btnpink:hover {background-color: #d0664a !important; color: #ffffff; } 

/* pallets */
.sp_plt_red {background-color: #D71A21 !important; color: #ffffff; } 
.sp_plt_green {background-color: #2ecc71 !important; color: #ffffff; } 
.sp_plt_redneg { color: #D71A21; border: 1px solid #D71A21; } 
.sp_plt_orange {background-color: #f55100 !important; color: #ffffff; } 
.sp_plt_orangeneg { color: #f55100; border: 1px solid #f55100; } 
.sp_plt_grey {background-color: #95a5a6 !important; color: #ffffff; } 
.sp_plt_nightblue {background-color: #34495e !important; color: #ffffff; } 
.sp_plt_yellow {background-color: #f1c40f !important; color: #ffffff; } 
.sp_plt_asphalt {background-color: #34495e !important; color: #ffffff; } 
.sp_plt_pink {background-color: #f37c5c !important; color: #ffffff; } 

/* borders */
.sp_b0 { border: 0 !important; } 
.sp_ba { border: 1px solid #dddddd; } 
.sp_bt { border-top: 1px solid #dddddd;  } 
.sp_bl { border-left: 1px solid #dddddd; } 
.sp_br { border-right: 1px solid #dddddd; } 
.sp_bb { border-bottom: 1px solid #dddddd; } 

/* margins [all, top, left, right, bottom]*/
.sp_m0 {margin: 0px !important; } 
.sp_m2 {margin: 2px !important; } 
.sp_m3 {margin: 3px !important; } 
.sp_m4 {margin: 4px !important; } 
.sp_m5 {margin: 5px !important; } 
.sp_m7 {margin: 7px !important; } 
.sp_m10 {margin: 10px !important; } 
.sp_m12 {margin: 12px !important; } 
.sp_m15 {margin: 15px !important; } 
.sp_m20 {margin: 20px !important; }
.sp_m25 {margin: 25px !important; } 
.sp_m30 {margin: 30px !important; } 
.sp_m35 {margin: 35px !important; } 
.sp_m40 {margin: 40px !important; } 
.sp_m45 {margin: 45px !important; } 
.sp_m50 {margin: 50px !important; } 

.sp_mt0 {margin-top: 0px !important; } 
.sp_mt2 {margin-top: 2px !important; } 
.sp_mt3 {margin-top: 3px !important; } 
.sp_mt4 {margin-top: 4px !important; } 
.sp_mt5 {margin-top: 5px !important; } 
.sp_mt7 {margin-top: 7px !important; } 
.sp_mt10 {margin-top: 10px !important; } 
.sp_mt12 {margin-top: 12px !important; } 
.sp_mt15 {margin-top: 15px !important; } 
.sp_mt20 {margin-top: 20px !important; }
.sp_mt25 {margin-top: 25px !important; } 
.sp_mt30 {margin-top: 30px !important; }
.sp_mt35 {margin-top: 35px !important; } 
.sp_mt40 {margin-top: 40px !important; }
.sp_mt45 {margin-top: 45px !important; } 
.sp_mt50 {margin-top: 50px !important; } 

.sp_ml0 {margin-left: 0px !important; }
.sp_ml2 {margin-left: 2px !important; }
.sp_ml3 {margin-left: 3px !important; }
.sp_ml4 {margin-left: 4px !important; }
.sp_ml5 {margin-left: 5px !important; }
.sp_ml7 {margin-left: 7px !important; }
.sp_ml10 {margin-left: 10px !important; }
.sp_ml12 {margin-left: 12px !important; }
.sp_ml15 {margin-left: 15px !important; }
.sp_ml20 {margin-left: 20px !important; }
.sp_ml25 {margin-left: 25px !important; }
.sp_ml30 {margin-left: 30px !important; }
.sp_ml35 {margin-left: 35px !important; }
.sp_ml40 {margin-left: 40px !important; }
.sp_ml45 {margin-left: 45px !important; }
.sp_ml50 {margin-left: 50px !important; }

.sp_mr0 {margin-right: 0px !important; }
.sp_mr2 {margin-right: 2px !important; }
.sp_mr3 {margin-right: 3px !important; }
.sp_mr4 {margin-right: 4px !important; }
.sp_mr5 {margin-right: 5px !important; }
.sp_mr7 {margin-right: 7px !important; }
.sp_mr10 {margin-right: 10px !important; }
.sp_mr12 {margin-right: 12px !important; }
.sp_mr15 {margin-right: 15px !important; }
.sp_mr20 {margin-right: 20px !important; }
.sp_mr25 {margin-right: 25px !important; }
.sp_mr30 {margin-right: 30px !important; }
.sp_mr35 {margin-right: 35px !important; }
.sp_mr40 {margin-right: 40px !important; }
.sp_mr45 {margin-right: 45px !important; }
.sp_mr50 {margin-right: 50px !important; }

.sp_mb0 {margin-bottom: 0px !important; } 
.sp_mb2 {margin-bottom: 2px !important; } 
.sp_mb3 {margin-bottom: 3px !important; } 
.sp_mb4 {margin-bottom: 4px !important; } 
.sp_mb5 {margin-bottom: 5px !important; } 
.sp_mb7 {margin-bottom: 7px !important; } 
.sp_mb10 {margin-bottom: 10px !important; } 
.sp_mb12 {margin-bottom: 12px !important; } 
.sp_mb15 {margin-bottom: 15px !important; } 
.sp_mb20 {margin-bottom: 20px !important; }
.sp_mb25 {margin-bottom: 25px !important; } 
.sp_mb30 {margin-bottom: 30px !important; } 
.sp_mb35 {margin-bottom: 35px !important; }
.sp_mb40 {margin-bottom: 40px !important; }
.sp_mb45 {margin-bottom: 45px !important; } 
.sp_mb50 {margin-bottom: 50px !important; } 

/* paddings [all, top, left, right, bottom]*/
.sp_p0 {padding: 0 !important; } 
.sp_p2 {padding: 2px !important; } 
.sp_p3 {padding: 3px !important; } 
.sp_p4 {padding: 4px !important; } 
.sp_p5 {padding: 5px !important; } 
.sp_p7 {padding: 7px !important; } 
.sp_p10 {padding: 10px !important; } 
.sp_p12 {padding: 12px !important; } 
.sp_p15 {padding: 15px !important; } 
.sp_p20 {padding: 20px !important; }
.sp_p25 {padding: 25px !important; } 
.sp_p30 {padding: 30px !important; } 
.sp_p35 {padding: 35px !important; } 
.sp_p40 {padding: 40px !important; }
.sp_p45 {padding: 45px !important; } 
.sp_p50 {padding: 50px !important; }

.sp_pt0 {padding-top: 0px !important; } 
.sp_pt2 {padding-top: 2px !important; } 
.sp_pt3 {padding-top: 3px !important; } 
.sp_pt4 {padding-top: 4px !important; } 
.sp_pt5 {padding-top: 5px !important; } 
.sp_pt7 {padding-top: 7px !important; } 
.sp_pt10 {padding-top: 10px !important; } 
.sp_pt12 {padding-top: 12px !important; } 
.sp_pt15 {padding-top: 15px !important; } 
.sp_pt20 {padding-top: 20px !important; } 
.sp_pt25 {padding-top: 25px !important; } 
.sp_pt30 {padding-top: 30px !important; } 
.sp_pt35 {padding-top: 35px !important; }
.sp_pt40 {padding-top: 40px !important; }
.sp_pt45 {padding-top: 45px !important; } 
.sp_pt50 {padding-top: 50px !important; } 

.sp_pl0 {padding-left: 0px !important; }
.sp_pl2 {padding-left: 2px !important; }
.sp_pl3 {padding-left: 3px !important; }
.sp_pl4 {padding-left: 4px !important; }
.sp_pl5 {padding-left: 5px !important; }
.sp_pl7 {padding-left: 7px !important; }
.sp_pl10 {padding-left: 10px !important; }
.sp_pl12 {padding-left: 12px !important; }
.sp_pl15 {padding-left: 15px !important; }
.sp_pl20 {padding-left: 20px !important; }
.sp_pl25 {padding-left: 25px !important; }
.sp_pl30 {padding-left: 30px !important; }
.sp_pl35 {padding-left: 35px !important; }
.sp_pl40 {padding-left: 40px !important; }
.sp_pl45 {padding-left: 45px !important; }
.sp_pl50 {padding-left: 50px !important; }

.sp_pr0 {padding-right: 0px !important; }
.sp_pr2 {padding-right: 2px !important; }
.sp_pr3 {padding-right: 3px !important; }
.sp_pr4 {padding-right: 4px !important; }
.sp_pr5 {padding-right: 5px !important; }
.sp_pr7 {padding-right: 7px !important; }
.sp_pr10 {padding-right: 10px !important; }
.sp_pr12 {padding-right: 12px !important; }
.sp_pr15 {padding-right: 15px !important; }
.sp_pr20 {padding-right: 20px !important; }
.sp_pr25 {padding-right: 25px !important; }
.sp_pr30 {padding-right: 30px !important; }
.sp_pr35 {padding-right: 35px !important; }
.sp_pr40 {padding-right: 40px !important; }
.sp_pr45 {padding-right: 45px !important; }
.sp_pr50 {padding-right: 50px !important; }

.sp_pb0 {padding-bottom: 0px !important; } 
.sp_pb2 {padding-bottom: 2px !important; } 
.sp_pb3 {padding-bottom: 3px !important; } 
.sp_pb4 {padding-bottom: 4px !important; } 
.sp_pb5 {padding-bottom: 5px !important; } 
.sp_pb7 {padding-bottom: 7px !important; } 
.sp_pb10 {padding-bottom: 10px !important; } 
.sp_pb12 {padding-bottom: 12px !important; } 
.sp_pb15 {padding-bottom: 15px !important; } 
.sp_pb20 {padding-bottom: 20px !important; } 
.sp_pb25 {padding-bottom: 25px !important; } 
.sp_pb30 {padding-bottom: 30px !important; }
.sp_pb35 {padding-bottom: 35px !important; } 
.sp_pb40 {padding-bottom: 40px !important; }
.sp_pb45 {padding-bottom: 45px !important; } 
.sp_pb50 {padding-bottom: 50px !important; } 

/* border-radius */
.sp_br0 {border-radius: 0; } 
.sp_br1 {border-radius: 1px; } 
.sp_br2 {border-radius: 2px; } 
.sp_br3 {border-radius: 3px; } 
.sp_br4 {border-radius: 4px; } 
.sp_br5 {border-radius: 5px; } 
.sp_br10 {border-radius: 10px; } 
.sp_br50 {border-radius: 50px; } 
.sp_br100 {border-radius: 100px; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
 .ng-cloak,
 .x-ng-cloak {
  display: none !important;
}


/* Aminations */
@-webkit-keyframes cssload {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes cssload {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
