/* grid */
.sp_wrapper {max-width: 1000px; margin: 0 auto; }
.sp_row {max-width: 100%; margin-left: auto; margin-right: auto; } 
.sp_row::before, .sp_row::after {content: ' '; display: table; } 
.sp_row::after {clear: both; } 
.strech {margin-left: -7px; margin-right: -7px; max-width: none;}
.collapse > .sp_column, .collapse > .sp_columns {padding-left: 0; padding-right: 0; }
.collapse.sp_column {padding-left: 0; padding-right: 0; } 
.sp_row .sp_row.collapse {margin-left: 0; margin-right: 0; } 
.sp_row.expanded {max-width: none; } 
.sp_row.stretch { margin: 0 -7px; max-width: none; } 
.sp_row.expanded .sp_row {margin-left: auto; margin-right: auto; } 
.sp_column, .sp_columns {padding-left: 7px; padding-right: 7px; width: 100%; float: left; } 
.ln-ar .sp_column, .ln-ar .sp_columns { float: right; } 
.sp_column.sp_row.sp_row, .sp_row.sp_row.sp_columns { float: none; } 
.sp_row .sp_column.sp_row.sp_row, .sp_row .sp_row.sp_row.sp_columns {padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 0; } 
.sp_small_1 {width: 4.16667%; } 
.sp_small_2 {width: 8.33333%; } 
.sp_small_3 {width: 12.5%; } 
.sp_small_4 {width: 16.66667%; } 
.sp_small_5 {width: 20.83333%; } 
.sp_small_6 {width: 25%; } 
.sp_small_7 {width: 29.16667%; } 
.sp_small_8 {width: 33.33333%; } 
.sp_small_9 {width: 37.5%; } 
.sp_small_10 {width: 41.66667%; } 
.sp_small_11 {width: 45.83333%; } 
.sp_small_12 {width: 50%; } 
.sp_small_13 {width: 54.16667%; } 
.sp_small_14 {width: 58.33333%; } 
.sp_small_15 {width: 62.5%; } 
.sp_small_16 {width: 66.66667%; } 
.sp_small_17 {width: 70.83333%; } 
.sp_small_18 {width: 75%; } 
.sp_small_19 {width: 79.16667%; } 
.sp_small_20 {width: 83.33333%; } 
.sp_small_21 {width: 87.5%; } 
.sp_small_22 {width: 91.66667%; } 
.sp_small_23 {width: 95.83333%; } 
.sp_small_24 {width: 100%; } 
.sp_small_collapse > .sp_column, .sp_small_collapse > .sp_columns {padding-left: 0; padding-right: 0; } 
.sp_small_collapse .sp_row {margin-left: 0; margin-right: 0; } 
.sp_small_uncollapse > .sp_column, .sp_small_uncollapse > .sp_columns {padding-left: 0.625rem; padding-right: 0.625rem; } 
.sp_small_centered {float: none; margin-left: auto; margin-right: auto; } 
@media screen and (min-width: 540px) {
  .sp_medium_1 {width: 4.16667%; } 
  .sp_medium_2 {width: 8.33333%; } 
  .sp_medium_3 {width: 12.5%; } 
  .sp_medium_4 {width: 16.66667%; } 
  .sp_medium_5 {width: 20.83333%; } 
  .sp_medium_6 {width: 25%; } 
  .sp_medium_7 {width: 29.16667%; } 
  .sp_medium_8 {width: 33.33333%; } 
  .sp_medium_9 {width: 37.5%; } 
  .sp_medium_10 {width: 41.66667%; } 
  .sp_medium_11 {width: 45.83333%; } 
  .sp_medium_12 {width: 50%; } 
  .sp_medium_13 {width: 54.16667%; } 
  .sp_medium_14 {width: 58.33333%; } 
  .sp_medium_15 {width: 62.5%; } 
  .sp_medium_16 {width: 66.66667%; } 
  .sp_medium_17 {width: 70.83333%; } 
  .sp_medium_18 {width: 75%; } 
  .sp_medium_19 {width: 79.16667%; } 
  .sp_medium_20 {width: 83.33333%; } 
  .sp_medium_21 {width: 87.5%; } 
  .sp_medium_22 {width: 91.66667%; } 
  .sp_medium_23 {width: 95.83333%; } 
  .sp_medium_24 {width: 100%; } 
  .sp_medium_collapse > .sp_column, .sp_medium_collapse > .sp_columns {padding-left: 0; padding-right: 0; } 
  .sp_medium_collapse .sp_row {margin-left: 0; margin-right: 0; } 
  .sp_medium_uncollapse > .sp_column, .sp_medium_uncollapse > .sp_columns {padding-left: 0.9375rem; padding-right: 0.9375rem; } 
  .sp_medium_centered {float: none; margin-left: auto; margin-right: auto; } 
} 
@media screen and (min-width: 760px) {
  .sp_large_1 {width: 4.16667%; } 
  .sp_large_2 {width: 8.33333%; } 
  .sp_large_3 {width: 12.5%; } 
  .sp_large_4 {width: 16.66667%; } 
  .sp_large_5 {width: 20.83333%; } 
  .sp_large_6 {width: 25%; } 
  .sp_large_7 {width: 29.16667%; } 
  .sp_large_8 {width: 33.33333%; } 
  .sp_large_9 {width: 37.5%; } 
  .sp_large_10 {width: 41.66667%; } 
  .sp_large_11 {width: 45.83333%; } 
  .sp_large_12 {width: 50%; } 
  .sp_large_13 {width: 54.16667%; } 
  .sp_large_14 {width: 58.33333%; } 
  .sp_large_15 {width: 62.5%; } 
  .sp_large_16 {width: 66.66667%; } 
  .sp_large_17 {width: 70.83333%; } 
  .sp_large_18 {width: 75%; } 
  .sp_large_19 {width: 79.16667%; } 
  .sp_large_20 {width: 83.33333%; } 
  .sp_large_21 {width: 87.5%; } 
  .sp_large_22 {width: 91.66667%; } 
  .sp_large_23 {width: 95.83333%; } 
  .sp_large_24 {width: 100%; } 
  .sp_large_collapse > .sp_column, .sp_large_collapse > .sp_columns {padding-left: 0; padding-right: 0; } 
  .sp_large_collapse .sp_row {margin-left: 0; margin-right: 0; } 
  .sp_large_uncollapse > .sp_column, .sp_large_uncollapse > .sp_columns {padding-left: 0.9375rem; padding-right: 0.9375rem; } 
  .sp_large_centered {float: none; margin-left: auto; margin-right: auto; } 
}
@media screen and (min-width: 980px) {
  .sp_xlarge_1 {width: 4.16667%; } 
  .sp_xlarge_2 {width: 8.33333%; } 
  .sp_xlarge_3 {width: 12.5%; } 
  .sp_xlarge_4 {width: 16.66667%; } 
  .sp_xlarge_5 {width: 20.83333%; } 
  .sp_xlarge_6 {width: 25%; } 
  .sp_xlarge_7 {width: 29.16667%; } 
  .sp_xlarge_8 {width: 33.33333%; } 
  .sp_xlarge_9 {width: 37.5%; } 
  .sp_xlarge_10 {width: 41.66667%; } 
  .sp_xlarge_11 {width: 45.83333%; } 
  .sp_xlarge_12 {width: 50%; } 
  .sp_xlarge_13 {width: 54.16667%; } 
  .sp_xlarge_14 {width: 58.33333%; } 
  .sp_xlarge_15 {width: 62.5%; } 
  .sp_xlarge_16 {width: 66.66667%; } 
  .sp_xlarge_17 {width: 70.83333%; } 
  .sp_xlarge_18 {width: 75%; } 
  .sp_xlarge_19 {width: 79.16667%; } 
  .sp_xlarge_20 {width: 83.33333%; } 
  .sp_xlarge_21 {width: 87.5%; } 
  .sp_xlarge_22 {width: 91.66667%; } 
  .sp_xlarge_23 {width: 95.83333%; } 
  .sp_xlarge_24 {width: 100%; } 
  .sp_xlarge_collapse > .sp_column, .sp_xlarge_collapse > .sp_columns {padding-left: 0; padding-right: 0; } 
  .sp_xlarge_collapse .sp_row {margin-left: 0; margin-right: 0; } 
  .sp_xlarge_uncollapse > .sp_column, .sp_xlarge_uncollapse > .sp_columns {padding-left: 0.9375rem; padding-right: 0.9375rem; } 
  .sp_xlarge_centered {float: none; margin-left: auto; margin-right: auto; } 
}